body {
    font-family: sans-serif;
    line-height: 1.5;
}

header {
    padding: 30px 30px 40px;
    background-color: #0b1c24;
    margin-bottom: 30px;
    color: white;
}

h1 {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0;
}

.stopwatch {
    margin-top: 40px;
    margin-bottom: 40px;
}

.counter {
    text-align: center;
    font-size: 42px;
    line-height: 80px;
    border: 1px solid #000;
    height: 80px;
    width: 120px;
    margin-bottom: 20px;
}
